@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Poppins:wght@300;400;500;600&display=swap")
*
    font-family: "Poppins", sans-serif

.wrapper
    max-width: 1280px !important
    margin: 0 auto
.q-focus-helper
    border-radius: $generic-border-radius !important
